$primary: #8F00FF;
$primaryHover: #8100E6;
$primaryLighter: #AE47FF;

$dark200: rgba(35, 35, 35, 0.2);
$dark500: rgba(35, 35, 35, 0.5);
$dark700: rgba(35, 35, 35, 0.7);
$search: #2B2B2B;

$white300: rgba(255, 255, 255, 0.3);
$white500: rgba(255, 255, 255, 0.5);
$white800: rgba(255, 255, 255, 0.8);

$background: #FAFAFA;
$lines: #EDEDED;
$lines100: rgba(237, 237, 237, 0.1);

$red: #FF3C3C;


