<footer class="footer"
    style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.90) 100%), url('@img/footer.jpeg'), lightgray 50% / cover no-repeat;">
    <div class="footer__container">
        <h4>Asociația Moldo-Americană de Logistică și Transport</h4>
        <div class="footer__row address">
            <a href="#">Moldova, Chișinău, bd. Decebal 6</a>
            <a href="mailto:contact@amalt.md">contact@amalt.md</a>
        </div>
        <ul class="footer__row footer__nav">
            <li class="footer__nav-item">
                <a href="#">Acasă</a>
            </li>
            <li class="footer__nav-item">
                <a href="#">Despre noi</a>
            </li>
            <li class="footer__nav-item">
                <a href="#">Noutăți</a>
            </li>
            <li class="footer__nav-item">
                <a href="#">Galerie</a>
            </li>
            <li class="footer__nav-item">
                <a href="#">Contacte</a>
            </li>
        </ul>
        <div class="footer__row socials">
            <a href="https://facebook.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path d="M32.5 0H0.5V32H32.5V0Z" fill="#1877F2" />
                    <path
                        d="M24.5 16C24.5 11.6 20.9 8 16.5 8C12.1 8 8.5 11.6 8.5 16C8.5 20 11.4 23.3 15.2 23.9V18.3H13.2V16H15.2V14.2C15.2 12.2 16.4 11.1 18.2 11.1C19.1 11.1 20 11.3 20 11.3V13.3H19C18 13.3 17.7 13.9 17.7 14.5V16H19.9L19.5 18.3H17.6V24C21.6 23.4 24.5 20 24.5 16Z"
                        fill="white" fill-opacity="0.8" />
                </svg>
                <span>facebook.com/amalt</span>
            </a>
            <a href="https://linkedin.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path d="M32.5 0H0.5V32H32.5V0Z" fill="#2867B2" />
                    <path
                        d="M12.1 24H8.7V13.3H12.1V24ZM10.4 11.8C9.3 11.8 8.5 11 8.5 9.9C8.5 8.8 9.4 8 10.4 8C11.5 8 12.3 8.8 12.3 9.9C12.3 11 11.5 11.8 10.4 11.8ZM24.5 24H21.1V18.2C21.1 16.5 20.4 16 19.4 16C18.4 16 17.4 16.8 17.4 18.3V24H14V13.3H17.2V14.8C17.5 14.1 18.7 13 20.4 13C22.3 13 24.3 14.1 24.3 17.4V24H24.5Z"
                        fill="white" fill-opacity="0.8" />
                </svg>
                <span>linkedin.com/company/amalt</span>
            </a>
        </div>
        <div class="footer__row">
            <p>Copyright © 2024. All rights reserved.</p>
        </div>
    </div>
</footer>