    <header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <img src="@img/logo.svg" alt="Logo" class="header__logo-img">
        </a>
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="/about.html">Despre noi</a>
                </li>
                <li class="header__nav-item">
                    <a href="/news.html">Noutăți</a>
                </li>
                <li class="header__nav-item">
                    <a href="/gallery.html">Galerie</a>
                </li>
                <li class="header__nav-item">
                    <a href="/contacts.html">Contacte</a>
                </li>
            </ul>
            <ul class="mobile__language">
                <li class="header__languages-item active">
                    <a href="#">
                        RO
                    </a>
                </li>
                <li class="header__languages-item">
                    <a href="#">
                        EN
                    </a>
                </li>
                <li class="header__languages-item">
                    <a href="#">
                        RU
                    </a>
                </li>
            </ul>
        </div>
        <ul class="header__languages">
            <li class="header__languages-item active">
                <a href="#">
                    RO
                </a>
            </li>
            <li class="header__languages-item">
                <a href="#">
                    EN
                </a>
            </li>
            <li class="header__languages-item">
                <a href="#">
                    RU
                </a>
            </li>
        </ul>
        <div class="burger">
            <span></span>
        </div>
    </div>
</header>