.home {
    .hero {
        height: 600px;

        &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: #FFF;
                margin-bottom: 15px;
            }

            p {
                color: $white800;
                margin-bottom: 25px;
            }
        }

        &__button {
            width: 195px;
            text-transform: uppercase;

            &:hover {
                svg {
                    transform: translateX(3px) translateY(-3px);
                }
            }
        }
    }

    .members {
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media (max-width: $tablet) {
                grid-template-columns: 1fr;
                gap: 30px;
            }

        }

        &__block {
            height: 100%;

            .section-heading {
                margin-bottom: 0;
            }

            &:first-of-type {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 1px solid $lines;

                >h2 {
                    max-width: 415px;

                    @media (max-width: $tablet) {
                        order: 2;
                        max-width: 100%;
                    }
                }

                @media (max-width: $tablet) {
                    gap: 30px;
                    border-bottom: 1px solid $lines;
                    border-right-width: 0;
                    padding-bottom: 30px;

                }
            }
        }

        &-post__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            @include adaptiv-value('margin-left', 65, 25, 1);

            @media (max-width: $mobileMedium) {
                margin: 0;
            }

            @media (max-width: $mobileMedium) {
                grid-template-columns: 1fr;
            }
        }

        &__post {
            border-bottom: 1px solid $lines;
            padding-bottom: 15px;

            h5 {
                margin-bottom: 10px;
            }

            p {
                @include text-truncate(3);
            }

            &:hover {
                h5 {
                    color: $primaryHover;
                }
            }
        }


        &__logos{ 
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            margin-top: 50px;
            padding: 20px;
            overflow-x: scroll;


            a {
                img {
                    width: 130px;
                    height: auto;
                    transition: .2s ease-in-out;
                }
                &:hover{
                    img {
                        transform: scale(1.15);
                    }
                
                }
            }
        }
    }

    .media {
        background-color: $background;
    }

    .gallery {
        .page__gallery-slider {
            .gallery-slider__body {
                .gallery-slider__slider {
                    position: relative;

                    .slider-gallery__body {
                        height: 100%;

                        .slider-gallery__slide {
                            height: 700px;

                            @media (max-width: $tablet) {
                                height: 100%;
                            }
                        }
                    }

                    .slider-gallery-controls {
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        
                        &__arrows {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            .slider-arrow {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 60px;
                                height: 60px;
                                border: 1px solid $maincolor;
                                background-color: $maincolor;
                                transition: .2s ease-out;
                                @media (max-width: $mobile) {
                                    width: 40px;
                                    height: 40px;
                                }
                                svg {
                                    path {
                                        stroke: #FFF;
                                    }
                                }
                                
                                svg {
                                    width: 24px;
                                    height: 24px;

                                    @media (max-width: $mobile){
                                        width: 16px;
                                        height: 16px;
                                    }
                                }

                                &:hover {
                                    background-color: $primaryHover;
                                    border-color: $primaryHover;
                                }

                                &__prev {
                                    transform: translateX(-50%);

                                    @media (max-width: $tablet) {
                                        transform: translateX(0);

                                    }
                                }

                                &__next {
                                    transform: translateX(50%);

                                    @media (max-width: $tablet) {
                                        transform: translateX(0);

                                    }
                                }

                                &.swiper-button-disabled {
                                    border-color: $lines;
                                    background-color: $background;
                                    svg{
                                        path {
                                            stroke: $dark500
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}