.news {
    &__search {
        padding: 40px 0;

        >.news__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            h2 {
                color: #FFF;
            }

            @media (max-width: $mobileMedium) {
                flex-direction: column;
            }
        }

        form {
            width: 100%;
            max-width: 500px;
            fieldset{
                border: none;
                position: relative;
                input {
                    color: #FFF;
                    outline: none;
                    background-color: transparent;
                    transition: .2s;
                    padding: 15px 40px 15px 18px;
                    border-radius: 8px;
                    background-color: $search;
                    width: 100%;
                    border: 1px solid transparent;
                    &:focus {
                        border-color: $primary;
                    }
                }

                button{
                    position: absolute;
                    height: 24px;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }

        }
    }
}